@model IEnumerable<system_petshop.Models.User>
@* @model system_petshop.Models.Admin *@

@{
    ViewData["Title"] = "Common Users";
}

<h1>Common users</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Tipo de usuário</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>@item.GetType().Name</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" asp-controller="Veterinarian" class="btn btn-primary">New Veterinarian</a>