@using System.Security.Claims
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - system_petshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/system_petshop.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">system_petshop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if(User.Identity?.IsAuthenticated??false){
                                if (User.IsInRole("admin"))
                                {
                                    <div class="dropdown">
                                        <button class="dropbtn">Users</button>
                                        <div class="dropdown-content">
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ShowUsers">Users</a>
                                            </li>
                                            <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Specialty" asp-action="Index">Specialties</a>
                                            </li>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="dropbtn">Animals</button>
                                        <div class="dropdown-content">
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Animal" asp-action="Index">Animals</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Species" asp-action="Index">Species</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Breed" asp-action="Index">Breeds</a>
                                            </li>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="dropbtn">Consultation</button>
                                        <div class="dropdown-content">
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Consultation" asp-action="Index">Consultation</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Medicine" asp-action="Index">Medicine</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Exam" asp-action="Index">Exam</a>
                                            </li>
                                        </div>
                                    </div>
                                }
                                if (User.IsInRole("client"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Animal" asp-action="AnimalByUser" asp-route-id="@userId">Animal</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Consultation" asp-action="ConsultationByUser" asp-route-id="@userId">Consultation</a>
                                    </li>
                                }
                                if (User.IsInRole("veterinarian"))
                                {
                                    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Consultation" asp-action="ConsultationByVeterinarian" asp-route-id="@userId">Consultation</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            }else{
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Create">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - system_petshop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
