@model IEnumerable<system_petshop.Models.Consultation>

@{
    ViewData["Title"] = "Consultation";
}

<h1>Pet consultation</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Consultation Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veterinarian)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsultationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Veterinarian.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
