@model system_petshop.Models.ConsultationExam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConsultationExam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consultation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consultation.ConsultationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exam.ExamId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ConsultationExamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
