@model IEnumerable<system_petshop.Models.Animal>

@{
    ViewData["Title"] = "Animal";
}

<h1>Your pets</h1>

<p>
    <a asp-action="CreateByUser" class="btn btn-info">New pet</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Date Birth
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Species)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Breed.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Species.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AnimalId" class="btn btn-info">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AnimalId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
