@model system_petshop.Models.Animal
@using System.Security.Claims

@{
    ViewData["Title"] = "Animal";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h2 class="text-center mb-4">Are you sure you want to delete this pet?</h2>

<div class="container w-75">
    <div class="mb-2 d-flex justify-content-between border-bottom pb-1">
        <strong>Name:</strong>
        <span>@Model.Name</span>
    </div>
    <div class="mb-2 d-flex justify-content-between border-bottom pb-1">
        <strong>Description:</strong>
        <span>@Model.Description</span>
    </div>
    <div class="mb-2 d-flex justify-content-between border-bottom pb-1">
        <strong>Birth Date:</strong>
        <span>@Model.DateBirth.ToShortDateString()</span>
    </div>
    <div class="mb-2 d-flex justify-content-between border-bottom pb-1">
        <strong>Breed:</strong>
        <span>@Model.Breed?.BreedId</span>
    </div>
    <div class="mb-2 d-flex justify-content-between border-bottom pb-1">
        <strong>Specie:</strong>
        <span>@Model.Species?.SpeciesId</span>
    </div>
    <div class="mb-4 d-flex justify-content-between border-bottom pb-1">
        <strong>Client:</strong>
        <span>@Model.Client?.GetType().Name</span>
    </div>

    <form asp-action="Delete" class="d-flex gap-2">
        <input type="hidden" asp-for="AnimalId" />
        <input type="submit" value="Delete" class="btn btn-danger w-50" />
        <a asp-action="AnimalByUser" asp-route-id="@userId" class="btn btn-warning w-50">Back to list</a>
    </form>
</div>
