@model system_petshop.Models.Animal
@using System.Security.Claims

@{
    ViewData["Title"] = "Animal";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h2 class="text-center mb-4">Tem certeza que deseja excluir este pet?</h2>

<div class="container w-75">
    <div class="mb-2 d-flex justify-content-between border-bottom pb-1">
        <strong>Nome:</strong>
        <span>@Model.Name</span>
    </div>
    <div class="mb-2 d-flex justify-content-between border-bottom pb-1">
        <strong>Descrição:</strong>
        <span>@Model.Description</span>
    </div>
    <div class="mb-2 d-flex justify-content-between border-bottom pb-1">
        <strong>Data de Nascimento:</strong>
        <span>@Model.DateBirth.ToShortDateString()</span>
    </div>
    <div class="mb-2 d-flex justify-content-between border-bottom pb-1">
        <strong>Raça:</strong>
        <span>@Model.Breed?.BreedId</span>
    </div>
    <div class="mb-2 d-flex justify-content-between border-bottom pb-1">
        <strong>Espécie:</strong>
        <span>@Model.Species?.SpeciesId</span>
    </div>
    <div class="mb-4 d-flex justify-content-between border-bottom pb-1">
        <strong>Cliente:</strong>
        <span>@Model.Client?.GetType().Name</span>
    </div>

    <form asp-action="Delete" class="d-flex gap-2">
        <input type="hidden" asp-for="AnimalId" />
        <input type="submit" value="Delete" class="btn btn-danger w-50" />
        <a asp-action="AnimalByUser" asp-route-id="@userId" class="btn btn-warning w-50">Back to list</a>
    </form>
</div>
